extends layout

block content
    each device,index in devices
        case device.family
            when '1wire/3A'
                include cards/1wire/3A
            when '1wire/28'
                include cards/1wire/28


    script(src='/javascripts/devices.js')


