extends layout

block content
    #tabs
        ul
            li
                a(href='#tabs-1') Сервисы
            li
                a(href='#tabs-2') Поиск
            li
                a(href='#tabs-3') Состояние
        #tabs-1
            include tabs/services

        #tabs-2
            include tabs/find
        #tabs-3
            include tabs/state
    script(src='/javascripts/index.js')
