extends layout

block content
    #tabs
        ul
            li
                a(href='#tabs-1' style='padding:15px 30px 15px 30px') Сервисы
            li
                a(href='#tabs-2' style='padding:15px 30px 15px 30px') Поиск
            li
                a(href='#tabs-3' style='padding:15px 30px 15px 30px') Состояние
        #tabs-1
            include tabs/services

        #tabs-2
            include tabs/find
        #tabs-3
            include tabs/state
    script(src='/javascripts/index.js')
