head
    title= title
    link(rel='stylesheet', href='/stylesheets/material.min.css')
    link(rel='stylesheet', href='/stylesheets/kbd.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.min.css')
    link(rel='stylesheet', href='/stylesheets/theme.css')
    script(src='/javascripts/material.min.js')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/kbd.js')
    meta(name='google', content='notranslate')
doctype html

html
    body
        block content
        #screensaver
        #dialog_error(title='Ошибка')
            p
        #dialog_info(title='Инфо')
            p
        script(src='/javascripts/state.js')
        script(src='/javascripts/find.js')
        script(src='/javascripts/screensaver.js')
