doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/material.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/material.min.js')

    body
        block content

script(src='/javascripts/jquery.js')
script(src='/javascripts/script.js')
