body {
    overflow: hidden;
    /*cursor: none;*/
    background: rgb(17, 29, 16);
    background: #000;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

a {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
}

.services_table {
    font-size: 13px;
    max-width: 472px;
}

#loading {
    display: none;
}

.mdl-progress {
    width: 475px
}

.mdl-data-table tbody tr {
    height: 25px;
}

.mdl-data-table td {
    height: 25px;
    padding: 0 4px 0 0;
    text-align: left;
}

.save_device_buttons button {
    margin: 1px;
}

.card {
    display: none
}

.green {
    background-color: green;
    padding: 3px
}

.red {
    background-color: #ad1457;
    color: #fff;
    padding: 3px
}

.yellow {
    background-color: #e6e700;
    padding: 3px
}

/*new*/
#tabs {
    max-width: 472px;
    min-height: 312px;
}

#dialog_device {
    display: none;
}

#dialog_error {
    display: none;
}

#dialog_info {
    display: none;
}

a.ui-tabs-anchor {
    padding: 20px;
}

.ui-tabs-nav li a:focus {
    outline: none;
}

#screensaver {
    position: absolute; width: 480px; height:320px; left:0px; top: 0px;
    display: block; z-index:9999;
    background-color: #000;
    background-image: url("/images/logo.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 200px;
}
