div#error_state.ui-state-error
table#states
    tr
        td Сохранено устройств
        td#total_registered loading...
    tr
        td Всего чипов
        td#total_physical loading...
#dialog_cleanup_confirm
    | Вы действительно хотите удалить все сохраненный устройства?
#loading
    div.mdl-spinner.mdl-js-spinner.is-active
    p Идет поиск устройств, это может занять несколько минут. Пожалуйста, не пользуйтесь выключателями во время поиска.
    p Во время поиска устройства будут включаться и выключаться, это нормально.
#cleanup_info
    div.mdl-spinner.mdl-js-spinner.is-active
    p  Запущено удаление устройств, это может занять несколько минут.
    p  После завершения удаления, система будет перезагружена автоматически.
#find_tab
    button#find(disabled="disabled").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent.big_button Поиск устройств
    div
        button#cleanup(disabled="disabled").mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button.big_button.critical_button Очистить все&nbsp;сохраненные
    #dialog_device(title='Новое устройство')
        p
            | Устройство
            span#dialog_device_context
            button.on_off(style="padding:20px;margin-left:10px") ВКЛ/ВЫКЛ

