#services_table
    table.services_table
        thead
            tr
                th.mdl-data-table__cell--non-numeric Сервис
                th Статус
        tbody#services
            each container in containers
                tr
                    td(class=container.status) #{container.name}
                    td(class=container.status) #{container.state}

button#refresh.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
    i.material-icons loop

script(src='/javascripts/services.js')
