table#states
    tr
        td public ip
        td#public_ip loading...
    tr
        td local ip
        td#ip loading...
    tr
        td cpu
        td#cpu loading...
    tr
        td space used
        td#space loading...
    tr
        td application health
        td#health loading...
    tr
        td local time
        td#time loading...
button#reboot.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.big_button.critical_button Перезагрузка
#reboot_dialog
    | Во время перезагрузки функции умного дома будут недоступны. <br/>
    | Продолжить?
