table#states
    tr
        td внешний ip
        td#public_ip loading...
    tr
        td локальный ip
        td#ip loading...
    tr
        td температура
        td#cpu loading...
    tr
        td места занято
        td#space loading...
    tr
        td время
        td#time loading...
button#reboot.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.big_button.critical_button Перезагрузка
#reboot_dialog
    | Во время перезагрузки функции умного дома будут недоступны. <br/>
    | Продолжить?
