div.wifi_list
    ul

div
    button#refresh_wifi.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
        i.material-icons loop
    div.wifi_state
        | сеть:&nbsp;
        span#current_network
            | undefined
        | <br/>интернет:&nbsp;
        span#internet_connection
            | undefined

div.wifipass
    input.wifi
    div.simple-keyboard
    button.wifi.save.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--accent
        |  Сохранить
    button.wifi.close.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--amber
        | Закрыть
    script(src='/javascripts/wifi.js')
